*{
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display: none;
}

.bg-color{
    height: 100vh;
    display: flex;
    flex-direction: column;
}



.un-products-list{
    display: flex;
    margin: 0px;
    height: 88vh;
    flex-wrap: wrap;
    overflow: auto;
    padding: 10px;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    
    
    
}

.un-products-list::-webkit-scrollbar{
    display: none;
}

.loader-container{
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}